<ion-view view-title="Home" id="driver-home">
  <ion-content>

    <ion-list>
      <ion-spinner ng-if="!vm.registeredTokens"></ion-spinner>
      <h2 ng-if="vm.registeredTokens">Listado de tokens</h2>
      <ion-item ng-if="vm.registeredTokens" ng-repeat="token in vm.registeredTokens">
        {{token}}
      </ion-item>
    </ion-list>

    <ion-list>
      <h2 ng-if="vm.history">Notificaciones enviadas</h2>
      <ion-item ng-if="vm.history" ng-repeat="notification in vm.history">
        {{notification}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
