<ion-view view-title="Home" id="listener-home">
  <ion-content>

    <div class="info">
      <span ng-if="vm.status">{{vm.status}}</span>
      <ion-spinner ng-if="!vm.status"></ion-spinner>
    </div>

    <ion-list class="historical">
      <h2>Notificaciones recibidas</h2>
      <ion-item ng-repeat="notification in vm.historical" ng-click="vm.openMap(notification)">
        <p>{{notification.hour | date : 'short'}}</p>
        <span>{{notification.latitude}}</span> , <span>{{notification.longitude}}</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
